:root {
    --bs-body-font-family: Nunito, sans-serif;
}

h1 {
    font-family: "Alfa Slab One", sans-serif;
    margin-top: 1rem;
    text-align: center;
}

h1 a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-family: "Staatliches", sans-serif;
    margin-top: 1rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

h5 {
    font-size: 1.1rem;
}

.hex-info {
    background-color: white;
    display: none;
    position: fixed;
}

svg > g > g[clip-path="url(#did2)"] > g > text {
    cursor: pointer;
}

code {
    cursor: pointer;
}

.page {
    font-weight: bold;
    text-decoration: underline;
}

.roll {
    --bs-alert-bg: #d1e7dd;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: #0f5132;
    --bs-alert-border-color: #badbcc;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius, 0);
    display: inline-block !important;
    padding: 0.5rem !important;
}
